apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: frontend
  namespace: monitoring
  labels:
    release: kps
spec:
  namespaceSelector:
    matchNames:
    - cloudshop-prod
  selector:
    matchLabels:
      app: frontend
  endpoints:
  - port: metrics
    path: /metrics
    interval: 15s
